workflows/daily-sales-report.json
{
  "name": "Bean There: Daily Sales Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "166a6636-2f15-4a0a-9124-30984c0be7a0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/analytics/today",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "gP466AvCShM1OxUn2yHEDnlW8lQ3Xa91"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "091aab18-ed9d-4e00-8acf-fa6699b13171",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "beanthere.demo@gmail.com",
        "subject": "=Daily Sales Report - {{ $now.format('MMMM d, y') }}",
        "message": "=<h2>Bean There Daily Sales Report</h2>\n\n<h3>Today's Performance</h3>\n\n<p><strong>Total Sales:</strong> ${{$json.todaysSales.total.toFixed(2)}}</p>\n<p><strong>Number of Orders:</strong> {{$json.todaysSales.count}}</p>\n\n<h3>Recent Orders</h3>\n<ul>\n{{$json.recentOrders.map(order => `<li>Order #${order.id} - ${order.customer.name} - $${order.totalAmount.toFixed(2)} - ${order.status}</li>`).join('')}}\n</ul>\n\n<p><em>Generated automatically by n8n</em></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        544,
        -224
      ],
      "id": "041f3b53-29f2-4ed3-b4e1-89cb7618d88f",
      "name": "Send a message",
      "webhookId": "c00e8892-8372-43af-b7ac-f962db3440e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "uzNYMPQesWwYwAtd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"workflowName\": \"Daily Sales Report\",\n  \"errorMessage\": \"{{$('Stop and Error').json.message}}\",\n  \"errorType\": \"NoDataReturned\",\n  \"timestamp\": \"{{$now.toISO()}}\",\n  \"context\": {\n    \"apiUrl\": \"{{$('HTTP Request').json.url}}\",\n    \"httpStatus\": \"{{$('HTTP Request').json.statusCode}}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        544,
        160
      ],
      "id": "f9c61862-c173-41f5-9bac-084dadb5a6c5",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "baf0fe14-3777-49f4-9048-8f09be8cd637",
              "leftValue": "={{ $json.todaysSales }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        0
      ],
      "id": "10d8492e-a08b-4d3a-8184-35ff9c92cd36",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a30d5b3e-9628-493f-ba48-ebc88c270c96",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        -224
      ],
      "id": "ae0dc2f3-aae7-4a04-a11e-ded1d4507811",
      "name": "If1"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"errorType\": \"EmailNotificationFailed\",\n  \"originalWorkflow\": \"{{$json.workflow.name}}\",\n  \"originalError\": \"{{$json.error.message}}\",\n  \"emailFailureReason\": \"Gmail node failed to send error notification\",\n  \"timestamp\": \"{{$now.toISO()}}\"\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        896,
        -112
      ],
      "id": "8304b2d9-118a-44fa-b510-bb2210fd4393",
      "name": "Stop and Error1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        896,
        -288
      ],
      "id": "bbb7c6ac-a144-4093-8f50-1bdc002e8a31",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "t1PCRUf2m2q5YSxv",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "187bd81f-8dcf-40cb-8c5e-1f02c749d460",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de3df412709ca23eacb24e65635dbf43a5125ffa66f84e6d74283e42860c225f"
  },
  "id": "RE9D44q7hmOrocTw",
  "tags": []
}