workflows/weekly-summary-to-sheets.json
{
  "name": "Bean There Weekly Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        0
      ],
      "id": "492fe452-daa8-401a-bdce-4db209f6dc4d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/analytics/weekly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "gP466AvCShM1OxUn2yHEDnlW8lQ3Xa91"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -192,
        0
      ],
      "id": "deb1d8bf-2190-487a-a95d-fd50d231f4f9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1Mstgec7-XabVMztIYdC7lJv3Dg_8CzESgUXxQHCXH-8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "2026",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Week Ending": "={{$now.format('y-MM-d')}}",
            "Total Revenue": "={{ $json.totalRevenue }}",
            "Order Count": "={{ $json.orderCount }}",
            "Top Customer": "={{ $json.topCustomer }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Week Ending",
              "displayName": "Week Ending",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Revenue",
              "displayName": "Total Revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Count",
              "displayName": "Order Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Top Customer",
              "displayName": "Top Customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        0
      ],
      "id": "417261d4-22ba-4353-bed3-6ee59b97853b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NmXQjnAQMdXM9E6h",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $(\"HTTP Request\").itemMatching(0).json;\nconst orders = data.orders;\n\nconst customerTotals = {};\n\nfor (const order of orders) {\n  const name = order.customer.name;\n  customerTotals[name] = (customerTotals[name] || 0) + order.totalAmount;\n}\n\nconst topCustomer = Object.entries(customerTotals)\n  .sort((a,b) => b[1] - a[1])[0]?.[0] || 'None';\n\nreturn {\n  totalRevenue: data.totalRevenue,\n  orderCount: data.orderCount,\n  topCustomer\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        0
      ],
      "id": "989e9a55-9597-48f5-b314-46be0ac41e95",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b803cda1-678c-43ec-8a6c-b5efeca12fa3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de3df412709ca23eacb24e65635dbf43a5125ffa66f84e6d74283e42860c225f"
  },
  "id": "FKJu4YvhHswujXkZ",
  "tags": []
}